.div-personnel {
  color: gray;
}

h1 {
  color: #23c7c6;
}

.div-personnelHeader {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 1rem;
}

.div-personnelHeader > input {
  right: 20%;
  /* position: absolute; */
  display: flex;
  width: 10%;
  height: 4%;
}

.div-personnelHeader > button {
  right: 5%;
  position: absolute;
  display: flex;
}

.div-input {
  float: right;
  right: 20%;
  /* position: absolute; */
  display: flex;
}
.div-btn {
  float: right;
  right: 6%;
  /* position: absolute; */
  display: flex;
}

#search-input {
  margin-right: 2rem;
  height: 0.5rem;
  width: 80px;
  border-radius: 0mm;
  display: flex;
}

#btn-add {
  height: 2.8rem;
  background-color: #23c7c6;
  color: white;
  font-family: "Muli";
  font-weight: bold;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.personnel-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.personnel-container {
  background-color: white;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 220px;
  padding: 1rem;
}

.personnel-id {
  display: inline-flex;
}

.pid {
  width: 60%;
  color: #23c7c6;
}

.personnel-img {
  justify-content: center;
  align-items: center;
  display: flex;
}
.personnel-img img {
  width: 200px;
  border-radius: 50%;
}

.personnel-name,
.personnel-telp,
.personnel-birthday,
.personnel-email {
  line-height: 1mm;
  padding-bottom: 0.1mm;
}

.div-pagination {
  /* width: 100%; */
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}

#previous-btn,
#next-btn {
  display: flex;
  align-items: center;
  font-family: "Muli";
  font-weight: bold;
  border: none;
  background-color: white;
  margin: 0 15px;
}

.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border: 1px solid black;
  cursor: pointer;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .div-personnelHeader {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    position: unset;
  }
  .div-title > h1 {
    width: 100%;
    font-size: 35px;
    line-height: 0;
  }

  #search-input {
    width: 100%;
  }

  #btn-add {
    margin-left: 0;
    margin-top: 1rem;
    width: 275px;
  }
}

@media screen and (min-width: 769px) {
  .div-input,
  .div-btn {
    position: absolute;
  }
}
